.u-section-1 .u-sheet-1 {
  min-height: 1100px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 370px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 805px;
  margin: 22px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 241px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 68px;
    margin-right: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 290px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 213px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 345px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    margin-right: 11px;
  }
}.u-section-2 {
  background-image: url("images/untitled-artwork-3-2000x1116.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1141px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  margin: 500px auto 0 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px 20px 231px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 140px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
    text-transform: none;
    margin: 17px auto 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -22px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 14px;
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 131px;
    margin-right: 30px;
  }
}